<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>I AM FUCKING HUNGRY AND I DON'T GIVE A SHIT WHAT I EAT</title>
        <meta name='description' content='I AM FUCKING HUNGRY AS SHIT.'/>
        <meta name='author' content='Charles Jian Lai, cjl223@cornell.edu' />
        <meta name='keywords' content='food, collegetown, Cornell, hungry
        random, collegetown food, asian, restaurants, cool, indian,
        american, grub, hunger, charles, lai, jian'/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>
        <link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    </head>
    <body>
        <div class="container">
            <div class="grid-full centered"><h1 class="large-heading">Collegetown Food Picker</h1></div>
            <div class="grid-1"></div>
            <div class="grid-4 centered">
        		<form method="post">
                    <div class="comment_box centered" style="width: 95%; margin-left:auto; margin-right:auto">
                        <span class="sub-heading" id="restaurant">
                            {{restaurant}}
                        </span>
                    </div>
                    <br>
        		    <input class="button button-white button-large" type="submit" value="{{button_title}}">
        		</form>
            </div>
            <div class="grid-1"></div>
        </div>
    </body>
</html>